<div class="card">

    <div class="card-body" style="margin-left: 20px;" >
        <h2 style="color:#56042c;font-size: 30px;"><b>Classement des équipes pour la pool {{name}} :</b></h2>
              <div >
            <ol>
               <b> <li style="color:#fec310;font-size: 20px;" *ngFor="let equipe of equipes"> 
                    
                    
              <p style="color:#56042c;font-size: 20px;">{{equipe?.nom}}</p> 
           
                </li> </b>
            </ol>
            </div>
        </div>
    </div>


