
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html" style="color: white;">FORMINET</a>
      </div>
      <!-- /.login-logo -->
      <div class="card" style="width: 51rem;">
        <div class="card-body login-card-body">
            <h2 style="color:#56042c;font-size: 30px;"><b>Connectez-vous pour démarrer votre session</b></h2>
          
    
          <form   [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <b><label style="color:#4DCFE1;font-size: 20px;">Nom</label></b>
              <input type="text" class="form-control" id="userName"
              formControlName="userName" placeholder="Username">
              <div class="alert alert-danger" *ngIf="registrationForm.get('userName').invalid
              && registrationForm.get('userName').touched">
              <div *ngIf="registrationForm.get('userName').errors.required">
                Le Nom d'utilisateur est obligatoire.
              </div>
              <div *ngIf="registrationForm.get('userName').errors.minlength">
                Le nom d'utilisateur doit avoir au moins 4 caractères.
              </div>
              <div *ngIf="registrationForm.get('userName').errors.maxlength">
                Le nom d'utilisateur ne doit pas dépasser les 20 caractères.
              </div>
            </div>
            <br>
            </div>
            <div class="form-group">
              <b><label style="color:#4DCFE1;font-size: 20px;">Email</label></b>
              <input type="email" class="form-control" id="email"
              formControlName="email" placeholder="Email">
              <div class="alert alert-danger" *ngIf="registrationForm.get('email').invalid
              && registrationForm.get('email').touched">
            Adresse éléctronique non valide!
          </div>
           
            </div>
  
  <br>
            <div class="form-group">
              <b><label style="color:#4DCFE1;font-size: 20px;">Mot de passe</label></b>
              <input type="password" class="form-control" id="password"
              formControlName="password" placeholder="Password">
              <div class="alert alert-danger" *ngIf="registrationForm.get('password').invalid
              && registrationForm.get('password').touched">
              <div *ngIf="registrationForm.get('password').errors.required">
                Le Mot de passe est obligatoire.
              </div>
              <div *ngIf="registrationForm.get('password').errors.minlength">
                Le mot de passe doit avoir au moins 6 caractères.
              </div>
            </div>
            
            </div>
  
  
            <div class="form-group">
            
                
               <br>
              
              <div class="form-group">
                <b><label style="color:#4DCFE1;font-size: 20px;">Choisissez le(s) role(s)</label></b>
               
                  <div class="form-check"
                  *ngFor="let role of registrationForm.get('roleSelection')['controls']; let i = index">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"
                        [formControl]="role">
                        {{roles[i].name}}
                    </label>
                  </div>
              </div>            
            </div>
            <div class="row">
             
              <!-- /.col -->
              <div class="col-5">

              <br>

                <button type="submit" [disabled]="registrationForm.invalid"   style="background-color: #1077c3;" class="btn btn-block">Valider</button>
                <div class="alert alert-warning" *ngIf="submitted && !isRegistered">
                  Inscription échouée ! {{ errorMessage }}
                </div>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isRegistered">
            Votre inscription est réussi. Merci de votre intérêt.
          </div>
          <div >
        
           
          
          </div>
<br>
          <div>
            <button [routerLink]="['/login']"  (click)="login()"  style="background-color:#fec310;"     class="btn " data-dismiss="modal">
              Login</button>
         </div>
       
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    
